* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
@import "tailwindcss";

@theme {
  --font-mono: var(--font-space-mono);
  --color-bg-color: #323437;
  --color-main-color: #e2b714;

  --color-sub-color: #646669;
  --color-sub-alt-color: #2c2e31;
  --color-text-color: #d1d0c5;
  --color-error-color: #ca4754;
  --color-error-extra-color: #7e2a33;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground: #64666949;
  }
}

html {
  line-height: 1.25;
}
